# **Introduction to Pandas - Series**

## **Pandas**

Pandas is a Python library used for data analysis and adata manipulation, , provides easy-to-use data structures and functions that make working with structured data fast and efficient.

## **Series**

A Series is a one-dimensional array-like object that can hold various data types (integers, floats, strings, etc.). Think of it as a single column in a spreadsheet or a SQL table. Each element in a Series has a unique label, known as an index, which can be an integer or a custom label.

**Key Characteristics**

* **1-Dimension:** it represents a single column.
* **Homogeneous:** All values in a Series must be the same data type.
* **Mutable:** The values in a Series can be chaanged
* **Indexed:** Each value is related with an index, which provides a way to acces data

In [1]:
import pandas as pd

## **Creating A Series**

In [18]:
staff = ["Steffano", "Andres", "Veronica", "Susana", "Sandro", "Karolina", "Michelle", "Michael", "Josheph"]
sr = pd.Series(staff)
sr

0    Steffano
1      Andres
2    Veronica
3      Susana
4      Sandro
5    Karolina
6    Michelle
7     Michael
8     Josheph
dtype: object

### **Creating Series With Specific Index**

In [30]:
ages = pd.Series(
    [22, 24, 34, 76, 19],
    index=["Alex", "Don", "Abbie", "Susan", "Doe"]
)
ages

Alex     22
Don      24
Abbie    34
Susan    76
Doe      19
dtype: int64

## **Getting Information About Series**

In [19]:
sr.shape

(9,)

In [20]:
sr.info()

<class 'pandas.core.series.Series'>
RangeIndex: 9 entries, 0 to 8
Series name: None
Non-Null Count  Dtype
--------------  -----
9 non-null      object
dtypes: object(1)
memory usage: 204.0+ bytes

In [21]:
# verify for missing values
sr.isna().sum()

np.int64(0)

In [22]:
# data type
sr.dtype

dtype('O')

In [23]:
# number of elements
sr.size

9

## **Access to Items**

In [24]:
# get first element
sr[0]

'Steffano'

In [25]:
# get from start to end
sr[0:2]

0    Steffano
1      Andres
dtype: object

In [26]:
# using iloc - numeric index
sr.iloc[0]

'Steffano'

In [32]:
# using loc - object index
ages.loc["Alex"]

np.int64(22)

In [27]:
# using step argument
sr[::2]

0    Steffano
2    Veronica
4      Sandro
6    Michelle
8     Josheph
dtype: object

## **Delete An Item**

In [28]:
# series.drop(index)
sr.drop(0, inplace=True)

In [29]:
# after droppingabs
sr

1      Andres
2    Veronica
3      Susana
4      Sandro
5    Karolina
6    Michelle
7     Michael
8     Josheph
dtype: object