# **DateTime**

In [1]:
import pandas as pd

In [25]:
data = {
    'event_datetime': [
        '2025-09-10 09:30',
        '2025-09-11 14:45',
        '2025-09-12 11:00',
        '2025-09-13 18:20',
        '2025-09-14 10:15',
        '2025-09-15 13:00',
        '2025-09-16 09:00',
        '2025-09-17 15:30',
        '2025-09-18 20:00',
        '2025-09-19 12:00'
    ],
    'sales': [150, 200, 180, 250, 190, 210, 220, 240, 300, 215],
    'city': ['Quito', 'Guayaquil', 'Quito', 'Quito', 'Guayaquil', 'Guayaquil', 'Quito', 'Quito', 'Guayaquil', 'Guayaquil']
}
df = pd.DataFrame(data)
df

     event_datetime  sales       city
0  2025-09-10 09:30    150      Quito
1  2025-09-11 14:45    200  Guayaquil
2  2025-09-12 11:00    180      Quito
3  2025-09-13 18:20    250      Quito
4  2025-09-14 10:15    190  Guayaquil
5  2025-09-15 13:00    210  Guayaquil
6  2025-09-16 09:00    220      Quito
7  2025-09-17 15:30    240      Quito
8  2025-09-18 20:00    300  Guayaquil
9  2025-09-19 12:00    215  Guayaquil

In [26]:
# verify the data type of event_datetime column
df["event_datetime"].dtype

dtype('O')

In [27]:
# transform the datetime column to datetime data type
df["event_datetime"] = pd.to_datetime(df["event_datetime"])

In [28]:
df.dtypes

event_datetime    datetime64[ns]
sales                      int64
city                      object
dtype: object

### **Operation with Datetime**

In [29]:
# extract the date
df["sale_date"] = df["event_datetime"].dt.date

# transfor the new column to datetime type
df["sale_date"] = pd.to_datetime(df["sale_date"])

In [31]:
# extract the time
# 1. get time like string
df["sale_time"] = df["event_datetime"].dt.strftime('%H:%M:%S')

# 2. transfor to datetime
df["sale_time"] = pd.to_datetime(df["sale_time"], format='%H:%M:%S')

In [33]:
df.dtypes

event_datetime    datetime64[ns]
sales                      int64
city                      object
sale_date         datetime64[ns]
sale_time         datetime64[ns]
dtype: object

#### **Extract Infromation From Date and Tiem**

In [35]:
# get year
df["sale_year"] = df["sale_date"].dt.year

In [37]:
# get month
df["sale_month"] = df["sale_date"].dt.month

In [50]:
# get the month name
df["sale_month_name"] = df["sale_date"].dt.month_name('es')

In [51]:
# get day name
df["sale_day"] = df["sale_date"].dt.day_name('es')

In [53]:
# get the hour
df["sale_time"].dt.hour

0     9
1    14
2    11
3    18
4    10
5    13
6     9
7    15
8    20
9    12
Name: sale_time, dtype: int32